{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "insertPragma": true,
  "jsxSingleQuote": true,
  "printWidth": 140
}
